#cars-comment {
  padding: 0 20px 0 20px;
  display: flex;
  justify-content: center;
}

.dsct-container-comments {
  background-color: var(--dsct-color-section-comments-bg);
}

.dsct-card-comment {
  width: 100%;
  max-width: 960px;
  border-radius: 12px;
  border: 1px solid var(--dsct-color-section-comments-border);
  padding: 25px 20px;
}

.dsct-card-comment {
    background-color: var(--dsct-color-section-comments-card-bg);
}

.dsct-card-comment p {
    color: var(--dsct-color-section-comments-font);
}
