@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

:root {
  --dsct-color-header-bg: #3c9af0;
  --dsct-color-header-font: #ffffff;

  --dsct-color-section-cars-bg: #d9d9d9;
  --dsct-color-section-cars-border: #3c9af0;
  --dsct-color-section-cars-description: #5e5e5e;

  --dsct-color-section-comments-bg: #C8C8C8;
  --dsct-color-section-comments-title: #5E5E5E;
  --dsct-color-section-comments-comment: #3C9AF0;

  --dsct-color-section-comments-bg-card: #FFFFFF;
  --dsct-color-section-comments-card-border: #3c9af0;

  --dsct-color-footer-bg: #3C9AF0;
  --dsct-color-footer-font: #ffffff;
}

* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a,
a:hover {
  color: unset;
  text-decoration: none;
}
